<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Haqqımızda Mətn girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Haqqımızda Mətn 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Haqqımızda Mətn 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Haqqımızda Şəkil 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Haqqımızda Şəkil 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>
